/*Este estilo es usado tanto para registro de cliente asi como productos*/


/*Estilos de header, navbar y footer */

@import url(header_navbar_footer.css);
* {
    margin: 0;
    padding: 0;
}

.formulario-registro h1 {
    background-color: rgb(68, 66, 66);
    color: white;
    padding: 10px;
    margin-bottom: 10px;
}

.formulario-registro {
    text-align: center;
    margin: auto;
    margin-top: 2%;
    margin-bottom: 2%;
    border-radius: 10px;
    border: 1px solid #eee;
    background-color: #fafafaa8;
}

.formulario-registro p {
    padding-bottom: 1%;
}

.formulario-registro .dato {
    margin: 1%;
    padding: 1%;
}

.formulario-registro input {
    margin: 0.5%;
    padding: 1%;
    padding-left: 2%;
    padding-right: 2%;
}

.formulario-registro .btn {
    margin: 2%;
    padding: 3%;
    background-color: rgb(68, 66, 66);
    color: white;
    border: none;
}

.formulario-registro .btn:hover {
    background-color: #4f9deb;
    color: black;
    cursor: pointer;
    transition-duration: 0.7s;
}


/*Responsive*/


/*Pantalla Escritorio*/

@media screen and (min-width:780px) and (max-width:2000px) {
    .formulario-registro {
        width: 30%;
        height: 80%;
    }
    .formulario-producto {
        padding: 40px;
    }
    /*Estilos para la tabla de administrar productos*/
    .formulario-producto .btn-2 {
        margin: 10px;
        padding: 10px;
        background-color: rgb(68, 66, 66);
        color: white;
        border: none;
    }
    .formulario-producto .btn-2:hover {
        background-color: #4f9deb;
        color: black;
        cursor: pointer;
        transition-duration: 0.7s;
    }
    table {
        font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
        font-size: 12px;
        width: 100%;
        text-align: left;
        border-collapse: collapse;
    }
    th {
        font-size: 13px;
        font-weight: normal;
        padding: 7px;
        background: rgb(68, 66, 66);
        border-bottom: 1px solid #fff;
        color: white;
    }
    td {
        padding: 7px;
        background: #e8edff;
        border-bottom: 1px solid #fff;
        color: #669;
        border-top: 1px solid transparent;
    }
    tr:hover td {
        background: #d0dafd;
        color: #339;
    }
    h1 {
        margin-top: 10px;
        padding: 20px;
        text-align: center;
        background-color: rgb(68, 66, 66);
        color: white;
    }
}


/*Pantalla Tablet*/

@media screen and (min-width:480px) and (max-width:780px) {
    .formulario-registro {
        width: 50%;
        height: 80%;
    }
    /*Estilos para la tabla de administrar productos*/
    .formulario-producto .btn-2 {
        margin: 6px;
        padding: 6px;
        background-color: rgb(68, 66, 66);
        color: white;
        border: none;
    }
    .formulario-producto .btn-2:hover {
        background-color: #4f9deb;
        color: black;
        cursor: pointer;
        transition-duration: 0.7s;
    }
    table {
        font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
        font-size: 13px;
        width: 100%;
        text-align: left;
        border-collapse: collapse;
    }
    th {
        font-size: 13px;
        font-weight: normal;
        padding: 2px;
        background: rgb(68, 66, 66);
        border-bottom: 1px solid #fff;
        color: white;
    }
    td {
        padding: 2px;
        background: #e8edff;
        border-bottom: 1px solid #fff;
        color: #669;
        border-top: 1px solid transparent;
    }
    tr:hover td {
        background: #d0dafd;
        color: #339;
    }
    h1 {
        margin-top: 10px;
        padding: 20px;
        text-align: center;
        background-color: rgb(68, 66, 66);
        color: white;
    }
}


/*Pantalla Movil*/

@media screen and (max-width:480px) {
    .formulario-registro {
        width: 70%;
        height: 80%;
    }
    /*Estilos para la tabla de administrar productos*/
    .formulario-producto .btn-2 {
        margin: 6px;
        padding: 6px;
        background-color: rgb(68, 66, 66);
        color: white;
        border: none;
    }
    .formulario-producto .btn-2:hover {
        background-color: #4f9deb;
        color: black;
        cursor: pointer;
        transition-duration: 0.7s;
    }
    table {
        font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
        font-size: 13px;
        width: 100%;
        text-align: left;
        border-collapse: collapse;
    }
    th {
        font-size: 13px;
        font-weight: normal;
        padding: 2px;
        background: rgb(68, 66, 66);
        border-bottom: 1px solid #fff;
        color: white;
    }
    td {
        padding: 2px;
        background: #e8edff;
        border-bottom: 1px solid #fff;
        color: #669;
        border-top: 1px solid transparent;
    }
    tr:hover td {
        background: #d0dafd;
        color: #339;
    }
    h1 {
        margin-top: 10px;
        padding: 20px;
        text-align: center;
        background-color: rgb(68, 66, 66);
        color: white;
    }
}