{% extends "web/plantilla.html" %} {% load static %} {% block titulo %} Registro de productos {% endblock titulo %} {% block estilos %}
<link rel="stylesheet" href="{% static 'css/estilo_formulario.css' %}"> {% endblock estilos %} {% block contenido %}
<!--JavaScripts-->
<script src="{% static 'js/producto.js' %}"></script>
<script>
    function ir() {
        location.href = '/lista_productos/';
    }
</script>
<!--formulario-->
<form action="{% url 'PROD' %}" method="POST" class="formulario-registro" onsubmit="">
    {% csrf_token %}
    <h1 class="formulario-titulo">Agregar Insumo</h1>

    <div class="contenido">
        <div class="dato">
            <p>Nombre:</p>
            <input type="text" id="txtNombre" name="txtNombre" minlength="3" maxlength="120" required>
        </div>
        <div class="dato">
            <p>Precio:</p>
            <input type="number" id="txtPrecio" name="txtPrecio" placeholder="" min="1" required>
        </div>
        <div class="dato">
            <p>Descripcion:</p>
            <textarea name="txtDescripcion" id="txtDescripcion" cols="30" rows="10" minlength="3" maxlength="200" placeholder="Opcional"></textarea>
        </div>
        <div class="dato">
            <p>Stock:</p>
            <input type="number" name="txtStock" id="txtStock" name="txtStock" required>
        </div>

        <input type="submit" value="Agregar" class="btn">
        <input type="reset" value="Limpiar" class="btn">
        <input type="button" onclick="ir()" value="Admin Producto" class="btn">

    </div>
</form>
<div style="text-align: center; color: red;">
    <h2>{{msg}}</h2>
</div>
{% endblock contenido %}